@font-face{
    font-family: 'MyFont';
    src: url('RocknRollOne-Regular.ttf');
}
body{
    font-family: MyFont;
    color: #ffffff;
    background-color: #000000;
}

.toggle_switch {
    display: table;
}
.toggle_switch > input {
    display: none;
}
.toggle_switch > label {
    display: block;
    position: relative;
    margin-left: -48px;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background-color: #808080;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.toggle_switch > label::before {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #ffffff;
    transition: 0.3s;
    content: "";
}
.toggle_switch > input:checked + label {
    background-color: #e73b6f;
}
.toggle_switch > input:checked + label::before {
    left: calc(100% - 24px);
}
.burg{
    display: none;
}

.orders{
    width: 100%;
    user-select: none;
}
.order{
    width: 49%;
    max-width: 170px;
    flex-direction: column;
    margin: 0px 2%;
    flex-grow: 999;
}
.title{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #ffffff;
}
.group{
    width: 100%;
    min-height: 20px;
    margin: 1px 1px;
    padding: 1px 2px;
    border-radius: 6px;
    background-color: #606060;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
}
.villager{
    width: 100%;
    height: 20px;
    margin: 1px;
    border-radius: 6px;
    background-color: #303030;
    justify-content: space-between;
    align-items: center;
}
.number{
    width: 16px;
    height: 100%;
    margin: 1px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}
.first{
    height: 16px;
    width: 46px;
    margin: 1px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: #000000;
    white-space: nowrap;
}
.second{
    height: 16px;
    width: 30px;
    margin: 1px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    flex-grow: 100;
    color: #000000;
    white-space: nowrap;
}
.house{
    background-color: rgb(132, 185, 255);
    flex-grow: 1;
}
.house2{
    width: 46px;
    height: 38px;
    margin-top: -21px;
    background-color: rgb(132, 185, 255);
    flex-grow: 1;
}
.build{
    background-color: rgb(189, 131, 255);
}
.boar{
    background-color: rgb(231, 160, 119);
}
.boar4{
    width: 46px;
    height: 82px;
    margin-top: -65px;
    background-color: rgb(231, 160, 119);
    flex-grow: 1;
}
.wood{
    background-color: rgb(192, 117, 87);
}
.food{
    background-color: rgb(255, 131, 131);
}
.farm{
    background-color: rgb(180, 216, 113);
}
.berry{
    background-color: rgb(100, 177, 93);
}
.gold{
    background-color: rgb(241, 214, 124);
}
