@font-face{
    font-family: 'MyFont';
    src: url('RocknRollOne-Regular.ttf');
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: MyFont;
    color: #ffffff;
    background-color: #000000;
}

.orders-area{
    height: calc(var(--vh, 1vh) * 93);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}
.bottom-menu{
    width: 100%;
    height: calc(var(--vh, 1vh) * 7);
    position: fixed;
    bottom: 0;
}
.radio-wrapper{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2vh solid #4e1526;
    background-color: #290f16;
}
label{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    user-select: none;
    font-size: 3vh;
}
input[type="radio"]:checked + label{
    color: #ff427b;
}
input[type="radio"]{
    display: none;
}

#dr-order{
    display: flex;
}
#ff-order{
    display: none;
}
#fc-order{
    display: none;
}
#fi-order{
    display: none;
}
#bgd-order{
    display: none;
}

.orders{
    margin: 1vh 0px;
    padding: 1vh 1vh;
    user-select: none;
    justify-content: center;
    background-size: auto auto;
    background-image: repeating-linear-gradient(
        45deg,transparent, transparent 1vh, #181818 1vh, #181818 1.6vh );
    border: solid 1px #303030;
    flex-grow: 1;
}
.order{
    width: 100%;
    margin: 0px 1vh;
    max-width: 180px;
    flex-direction: column;
}
.title{
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 4.2);
    margin: 0px 0.2vh;
    margin-top: -0.5vh;
    text-overflow: ellipsis;
    font-size: 1.5vh;
    line-height: 2vh;
    color: #ffffff;
    overflow: visible;
    white-space: nowrap;
}
.group{
    width: 100%;
    margin: 0.2vh;
    padding: 0.15vh 0.3vh;
    border-radius: 0.9vh;
    background-color: #606060;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6vh;
    color: #fff;
}
.villager{
    width: 100%;
    height: calc(var(--vh, 1vh) * 2.3);
    margin: 0.15vh;
    padding: 0 0.1vh;
    border-radius: 0.8vh;
    background-color: #303030;
    justify-content: space-between;
    align-items: center;
}
.villager > div{
    height: 100%;
}
.villager > div > div{
    width: 100%;
    margin: 0.2vh 0.1vh;
    border-radius: 0.7vh;
    justify-content: center;
    align-items: center;
    color: #000000;
    white-space: nowrap;
}
.tech{
    background-color: transparent;
}
.tech > div > div{
    color: #ffffff;
}
.number{
    width: 100%;
    margin: 0.2vh 0.1vh;
    justify-content: center;
    align-items: center;
    font-size: 1.3vh;
}
.first{
    width: 300%;
}
.second{
    width: 600%;
}

/***** セルの色 *****/
.house{
    background-color: rgb(132, 185, 255);
}
.house2{
    position: relative;
    height: calc(var(--vh, 1vh) * 4.5);
    background-color: rgb(132, 185, 255);
}
.build{
    background-color: rgb(189, 131, 255);
}
.boar{
    background-color: rgb(231, 160, 119);
}
.boar2{
    color: rgb(231, 160, 119) !important;
    border: dotted 0.3vh rgb(231, 160, 119);
}
.wood{
    background-color: rgb(192, 117, 87);
}
.food{
    background-color: rgb(255, 131, 131);
}
.farm{
    background-color: rgb(180, 216, 113);
}
.berry{
    background-color: rgb(100, 177, 93);
}
.gold{
    background-color: rgb(241, 214, 124);
}
.stone{
    background-color: rgb(173, 177, 190);
}

/********** (screen < 780px) **********/
@media screen and (max-width: 780px){
    .orders{
        border-left: 0px;
        border-right: 0px;
    }
}