@font-face{
    font-family: 'MyFont';
    src: url('RocknRollOne-Regular.ttf');
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: MyFont;
    color: #ffffff;
    background-color: #000000;
}

.orders-area{
    height: 93vh;
    overflow-y: auto;
}
.bottom-menu{
    width: 100%;
    height: 7vh;
    position: fixed;
    bottom: 0;
}
.radio-wrapper{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2vh solid #4e1526;
    background-color: #290f16;
}
label{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    user-select: none;
    font-size: 3vh;
}
input[type="radio"]:checked + label{
    color: #ff427b;
}
input[type="radio"]{
    display: none;
}

#dr-order{
    display: flex;
}
#ff-order{
    display: none;
}
#fc-order{
    display: none;
}
#fi-order{
    display: none;
}
#bgd-order{
    display: none;
}

.orders{
    margin: 1vmin 0px;
    padding: 1vmin 0.5vmin;
    user-select: none;
    justify-content: center;
    background-size: auto auto;
    background-image: repeating-linear-gradient(
        45deg,transparent, transparent 1vmin, #181818 1vmin, #181818 1.6vmin );
    border: solid 1px #303030;
    flex-grow: 1;
}
.order{
    width: 100%;
    margin: 0px 0.5vmin;
    max-width: 180px;
    flex-direction: column;
}
.title{
    margin-top: -0.5vh;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #ffffff;
}
.group{
    width: 100%;
    margin: 0.2vmin;
    padding: 0.15vmin 0.3vmin;
    border-radius: 0.9vh;
    background-color: #606060;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: #fff;
}
.villager{
    width: 100%;
    height: 2.4vh;
    margin: 0.15vmin;
    padding: 0 1px;
    border-radius: 0.8vh;
    background-color: #303030;
    justify-content: space-between;
    align-items: center;
}
.villager > div{
    height: 100%;
}
.villager > div > div{
    width: 100%;
    margin: 2px 1px;
    border-radius: 0.7vh;
    justify-content: center;
    align-items: center;
    color: #000000;
    white-space: nowrap;
}
.tech{
    background-color: transparent;
}
.tech > div > div{
    color: #ffffff;
}
.number{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.first{
    width: 300%;
}
.second{
    width: 600%;
}

/***** セルの色 *****/
.house{
    background-color: rgb(132, 185, 255);
}
.house2{
    position: relative;
    height: calc(4.7vh - 2px);
    background-color: rgb(132, 185, 255);
}
.build{
    background-color: rgb(189, 131, 255);
}
.boar{
    background-color: rgb(231, 160, 119);
}
.boar4{
    position: relative;
    height: calc(10.2vh - 4px);
    background-color: rgb(231, 160, 119);
}
.wood{
    background-color: rgb(192, 117, 87);
}
.food{
    background-color: rgb(255, 131, 131);
}
.farm{
    background-color: rgb(180, 216, 113);
}
.berry{
    background-color: rgb(100, 177, 93);
}
.gold{
    background-color: rgb(241, 214, 124);
}

/********** (screen < 780px) **********/
@media screen and (max-width: 780px){
    .orders{
        border-left: 0px;
        border-right: 0px;
    }
}