@font-face{
    font-family: 'MyFont';
    src: url('../fonts/RocknRollOne-Regular.ttf');
}
body{
    font-family: MyFont;
    color: #ffffff;
    background-color: #1c202c;
}
.bottom-menu{
    width: 100%;
    height: calc(var(--vh, 1vh) * 7.0);
    position: fixed;
    bottom: 0;
    background-color: #1c202c;
    border-top: solid 0.2vh #2c3244;
    box-sizing: content-box
}
.swiper-container{
    overflow-y: auto;
    -ms-overflow-style: none;
}
.swiper-container::-webkit-scrollbar {
    display:none;
}
.swiper-pagination{
    display: flex;
    width: 100%;
}
.swiper-pagination-bullet{
    display: flex;
    width: 100%;
    height: calc(var(--vh, 1vh) * 6.0);
    margin: calc(var(--vh, 1vh) * 0.5);
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--vh, 1vh) * 3.5);
    border: solid 0.2vh transparent;
    background-color: transparent;
    font-size: 3vh;
    opacity: 1.0;
    color: #a2acb4;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: 0.2s;
}
.swiper-pagination-bullet-active{
    color: #3eb2ff;
    border: solid 0.2vh #3eb2ff;
}
.orders-area{
    height: calc(var(--vh, 1vh) * 93);
    -webkit-overflow-scrolling: touch;
}
.orders{
    margin: 1vh 0px;
    padding: 1vh 1vw;
    user-select: none;
    justify-content: center;
    flex-grow: 1;
}
.order{
    width: 100%;
    margin: 0px 1vw;
    max-width: 200px;
    flex-direction: column;
}
.title{
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 4.2);
    margin: 0px 0.5vw;
    margin-top: -0.5vh;
    text-overflow: ellipsis;
    font-size: 1.5vh;
    line-height: 2vh;
    color: #ffffff;
    overflow: visible;
    white-space: nowrap;
}
.group{
    width: 100%;
    margin: calc(var(--vh, 1vh) * 0.15) 0;
    padding: calc(var(--vh, 1vh) * 0.15);
    border-radius: calc(var(--vh, 1vh) * 0.8);
    background-color: #606060;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.villager{
    width: 100%;
    height: calc(var(--vh, 1vh) * 2.5);
    margin: calc(var(--vh, 1vh) * 0.15);
    padding: calc(var(--vh, 1vh) * 0.15);
    border-radius: calc(var(--vh, 1vh) * 0.7);
    background-color: #303030;
    justify-content: space-between;
    align-items: center;
    font-size: calc(var(--vh, 1vh) * 1.6);
}
.villager > div{
    height: 100%;
}
.villager > div > div{
    width: 100%;
    margin: calc(var(--vh, 1vh) * 0.15);
    border-radius: calc(var(--vh, 1vh) * 0.6);
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 
    black  0.1vh 0.1vh 0.0vh, black -0.1vh -0.1vh 0.0vh,
    black -0.1vh 0.1vh 0.0vh, black  0.1vh -0.1vh 0.0vh,
    black  0.0vh 0.1vh 0.0vh, black  0.0vh -0.1vh 0.0vh,
    black -0.1vh 0.0vh 0.0vh, black  0.1vh  0.0vh 0.0vh;
    font-size: 1.6vh;
}
.tech{
    height: calc(var(--vh, 1vh) * 1.8);
    background-color: transparent;
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 
    black  0.1vh 0.1vh 0.0vh, black -0.1vh -0.1vh 0.0vh,
    black -0.1vh 0.1vh 0.0vh, black  0.1vh -0.1vh 0.0vh,
    black  0.0vh 0.1vh 0.0vh, black  0.0vh -0.1vh 0.0vh,
    black -0.1vh 0.0vh 0.0vh, black  0.1vh  0.0vh 0.0vh;
    font-size: calc(var(--vh, 1vh) * 1.6);
}
.tech > div{
    align-items: center;
}
.number{
    width: 100%;
    margin: calc(var(--vh, 1vh) * 0.15);
    justify-content: center;
    align-items: center;
    font-size: calc(var(--vh, 1vh) * 1.3);
}
.first{
    width: 300%;
}
.second{
    width: 600%;
}
.omit{
    height: calc(var(--vh, 1vh) * 1.4);
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: calc(var(--vh, 1vh) * 1.2);
    justify-content: center;
    align-items: center;
}

/***** セルの色 *****/
.age{
    color: #fdff73;
}
.house{
    background-color: rgb(113, 158, 218);
}
.house2{
    position: relative;
    height: calc(var(--vh, 1vh) * 4.7);
    background-color: rgb(113, 158, 218);
}
.build{
    background-color: rgb(158, 113, 209);
}
.build2{
    border: dotted calc(var(--vh, 1vh) * 0.25) rgb(158, 113, 209);
}
.boar{
    background-color: rgb(212, 149, 112);
}
.boar2{
    border: dotted calc(var(--vh, 1vh) * 0.25) rgb(212, 149, 112);
}
.wood{
    background-color: rgb(165, 106, 82);
}
.food{
    background-color: rgb(214, 111, 111);
}
.farm{
    background-color: rgb(168, 202, 106);
}
.berry{
    background-color: rgb(93, 165, 87);
}
.gold{
    background-color: rgb(212, 189, 110);
}
.stone{
    background-color: rgb(173, 177, 190);
}
.stone2{
    border: dotted calc(var(--vh, 1vh) * 0.25) rgb(173, 177, 190);
}
.wood-to-stone{
    background: linear-gradient(to right, rgb(192, 117, 87) 45%,rgb(173, 177, 190) 55%);
}

/**********       PC用       **********/
/********** (screen > 780px) **********/
@media screen and (min-width: 780px){
    .group{
        margin: 1px 0;
        padding: 1px;
    }
    .villager{
        margin: 1px;
        padding: 1px;
    }
    .villager > div > div{
        margin: 1px;
    }
    .bottom-menu{
        position: static;
        box-sizing: border-box;
        height: calc(var(--vh, 1vh) * 5.0);
        border-top: solid 0 #2c3244;
        border-bottom: solid 1px #2c3244;
    }
    .swiper-pagination{
        display: flex;
        justify-content: space-around;
        position: static;
        max-width: 1280px;
        margin: 0px auto;
    }
    .swiper-pagination-bullet{
        max-width: 160px;
        height: calc(var(--vh, 1vh) * 4.0);
        margin: calc(var(--vh, 1vh) * 0.5);
        border-radius: calc(var(--vh, 1vh) * 2.0);
    }
    .orders-area{
        height: calc(var(--vh, 1vh) * 95);
        -webkit-overflow-scrolling: touch;
    }
}
